<% if @type == 'sideboard' %>
    var last = $('.sideboard .mana-cost').last();
    if (last.length == 0 || last.children().length == 5) {
      var div = "<div class='mana-cost span3'>";
      var text = div + "<%= escape_javascript(render @card) %></div>";
      $('.sideboard').append(text);
    } else {
      last.append("<%= escape_javascript(render @card) %>");
    }
<% elsif @card.land? %>
    var last = $('.lands .mana-cost').last();
    if (last.length == 0 || last.children().length == 5) {
      var div = "<div class='mana-cost span3'>";
      var text = div + "<%= escape_javascript(render @card) %></div>";
      $('.lands').append(text);
    } else {
      last.append("<%= escape_javascript(render @card) %>");
    }
<% else %>
  var cmc = $('.cards .mana-cost.<%= @card.cmc %>');

  if (cmc.length) {
    cmc.append("<%= escape_javascript(render @card) %>");
  } else {
    var div = "<div class='mana-cost span3 <%= @card.cmc %>'>";
    var text = div + "<%= escape_javascript(render @card) %></div>";
    $('.cards').append(text);
  }
<% end %>
